HotelFA_WCF_client/HotelFA_WCF_client/Connected Services/WorkClassRef/HotelFA_WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelFA_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelFA_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="animal" nillable="true" type="tns:Animal" />
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datestart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deliveryfromhotel" type="xs:int" />
      <xs:element minOccurs="0" name="deliverytothehotel" type="xs:int" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fromdeliveryaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fromdeliverytime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todeliveryaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todeliverytime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="animaltype" nillable="true" type="tns:AnimalType" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="AnimalType">
    <xs:sequence>
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nameoftype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnimalType" nillable="true" type="tns:AnimalType" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateofissuetoken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:int" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="animaltype" nillable="true" type="tns:AnimalType" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="createtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="chat" nillable="true" type="tns:Chat" />
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessage" nillable="true" type="tns:ChatMessage" />
  <xs:complexType name="Chat">
    <xs:sequence>
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chat" nillable="true" type="tns:Chat" />
  <xs:complexType name="ArrayOfAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimal" nillable="true" type="tns:ArrayOfAnimal" />
  <xs:complexType name="ArrayOfAnimalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalType" nillable="true" type="tns:AnimalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimalType" nillable="true" type="tns:ArrayOfAnimalType" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="ArrayOfJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Journal" nillable="true" type="tns:Journal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournal" nillable="true" type="tns:ArrayOfJournal" />
  <xs:complexType name="Journal">
    <xs:sequence>
      <xs:element minOccurs="0" name="animal" nillable="true" type="tns:Animal" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deltime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timestart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="worker" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Journal" nillable="true" type="tns:Journal" />
  <xs:complexType name="ArrayOfChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatMessage" nillable="true" type="tns:ChatMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatMessage" nillable="true" type="tns:ArrayOfChatMessage" />
</xs:schema>